## Prepare Features For Modeling: Standardize All Features

### Read In Data

In [1]:
# Read in data
import pandas as pd
from sklearn.preprocessing import StandardScaler

titanic_train = pd.read_csv('../Data/Split_Data/train_features.csv')
titanic_val = pd.read_csv('../Data/Split_Data/val_features.csv')
titanic_test = pd.read_csv('../Data/Split_Data/test_features.csv')

titanic_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Age_clean,Embarked_clean,Fare_clean,Fare_clean_tr,Title,Cabin_ind,Family_cnt
0,2,1,62.0,0,0,10.5000,147,2,62.0,3,10.5000,1.600434,11,0,0
1,3,1,8.0,4,1,29.1250,147,1,8.0,2,29.1250,1.962697,7,0,5
2,3,1,32.0,0,0,56.4958,147,2,32.0,3,56.4958,2.240801,11,0,0
3,3,0,20.0,1,0,9.8250,147,2,20.0,3,9.8250,1.579307,8,0,1
4,2,0,28.0,0,0,13.0000,147,2,28.0,3,13.0000,1.670278,8,0,0

-----------

### Standardize Features

What happens when you are fitting the scaler?
- it's `computing the mean and standard devision` for `each individual features` in our training data.

In [2]:
# Fit the scaler on the training data
scaler = StandardScaler()
scaler.fit(titanic_train)

StandardScaler()

For tranformation,
- we need tell the scaler explicit columns we want to transform.
- based on the fit data (trained data), by using that to transform each value for that feature in the training, validation and test sets.

In [5]:
# Scale the training, test, and validation sets

# get all features columns name
features = titanic_train.columns

# transformation
titanic_train[features] = scaler.transform(titanic_train[features])
titanic_val[features] = scaler.transform(titanic_val[features])
titanic_test[features] = scaler.transform(titanic_test[features])

titanic_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Age_clean,Embarked_clean,Fare_clean,Fare_clean_tr,Title,Cabin_ind,Family_cnt
0,-6.868873,-0.965658,-2.150105,-1.119338,-1.807820,-0.619256,-3.721977,-3.651665,-2.467601,-3.514447,-0.747507,-15.567061,-8.660287,-4.927426,-1.016602
1,-5.087038,-0.965658,-2.167864,0.846847,0.208473,-0.619137,-3.721977,-5.809233,-2.493824,-4.195529,-0.747267,-11.364702,-9.338896,-4.927426,-0.121456
2,-5.087038,-0.965658,-2.159971,-1.119338,-1.807820,-0.618961,-3.721977,-3.651665,-2.482169,-3.514447,-0.746914,-8.138607,-8.660287,-4.927426,-1.016602
3,-5.087038,-10.144182,-2.163917,-0.627792,-1.807820,-0.619261,-3.721977,-3.651665,-2.487997,-3.514447,-0.747516,-15.812147,-9.169244,-4.927426,-0.837573
4,-6.868873,-10.144182,-2.161286,-1.119338,-1.807820,-0.619240,-3.721977,-3.651665,-2.484112,-3.514447,-0.747475,-14.756856,-9.169244,-4.927426,-1.016602

 now we can see the above values are on the same scale using standard deivsions.